<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{920, 1400}, {128, 130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BodyInnerGradient</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 1400}, {128, 130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>BodyOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{784, 1400}, {128, 130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>HurricanearningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 8}, {500, 600}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Jouster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 331}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 331}</string>
			<key>spriteSourceSize</key>
			<string>{350, 331}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1156, 8}, {331, 350}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 95}</string>
			<key>spriteSourceSize</key>
			<string>{100, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1156, 368}, {95, 100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 95}</string>
			<key>spriteSourceSize</key>
			<string>{100, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1104, 616}, {95, 100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bomb</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{768, 616}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 1400}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircleFiller</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 616}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 400}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{416, 1568}, {400, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hurricane</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{996, 616}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>semitouchBorders</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {629, 770}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{629, 770}</string>
			<key>spriteSourceSize</key>
			<string>{629, 770}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 792}, {629, 770}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spikeWall</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 1432}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 1432}</string>
			<key>spriteSourceSize</key>
			<string>{98, 1432}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1432, 368}, {98, 1432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timerCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {406, 399}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{406, 399}</string>
			<key>spriteSourceSize</key>
			<string>{406, 399}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 1568}, {399, 406}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>touchBordersContainer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {632, 774}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{632, 774}</string>
			<key>spriteSourceSize</key>
			<string>{632, 774}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 8}, {632, 774}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warning</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{888, 616}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{648, 792}, {500, 600}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>windWarningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{824, 1536}, {600, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>JoustF_JoustF-ipadhd.png</string>
	</dict>
</dict>
</plist>
