<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 2656}, {130, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyInnerGradient</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 2928}, {130, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 2792}, {130, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>HurricanearningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 3284}, {600, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jouster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 331}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 331}</string>
			<key>spriteSourceSize</key>
			<string>{350, 331}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{616, 3304}, {331, 350}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 95}</string>
			<key>spriteSourceSize</key>
			<string>{100, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 4000}, {100, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JousterOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 95}</string>
			<key>spriteSourceSize</key>
			<string>{100, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 4000}, {100, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Lock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{956, 3280}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Logo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {624, 618}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{624, 618}</string>
			<key>spriteSourceSize</key>
			<string>{624, 618}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 2656}, {624, 618}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Logo_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {624, 618}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{624, 618}</string>
			<key>spriteSourceSize</key>
			<string>{624, 618}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{792, 2656}, {624, 618}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 3184}, {113, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>closebutton</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{616, 3664}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{736, 3664}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircleFiller</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{956, 3440}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 400}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1568, 2424}, {400, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hurricane</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{724, 3992}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>openIndicator</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 3064}, {113, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>play</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 200}</string>
			<key>spriteSourceSize</key>
			<string>{350, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{724, 3784}, {350, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scoreHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{856, 3664}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>semitouchBorders</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {629, 770}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{629, 770}</string>
			<key>spriteSourceSize</key>
			<string>{629, 770}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{792, 2016}, {770, 629}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spikeWall</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 1432}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 1432}</string>
			<key>spriteSourceSize</key>
			<string>{98, 1432}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1424, 2656}, {98, 1432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teamPlay</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 200}</string>
			<key>spriteSourceSize</key>
			<string>{350, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 3792}, {350, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timerCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {406, 399}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{406, 399}</string>
			<key>spriteSourceSize</key>
			<string>{406, 399}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1568, 2016}, {406, 399}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>touchBordersContainer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {632, 774}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{632, 774}</string>
			<key>spriteSourceSize</key>
			<string>{632, 774}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 2016}, {774, 632}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>unlock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 200}</string>
			<key>spriteSourceSize</key>
			<string>{350, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 3792}, {350, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryRay</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2000, 2000}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{2000, 2000}</string>
			<key>spriteSourceSize</key>
			<string>{2000, 2000}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 8}, {2000, 2000}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warning</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{832, 3992}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1528, 3440}, {500, 600}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>windWarningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1528, 2832}, {500, 600}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>JoustF_JoustF-ipadhd.png</string>
	</dict>
</dict>
</plist>
