<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 1328}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyInnerGradient</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 1464}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 1396}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>HurricanearningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1642}, {300, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jouster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 165.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 165.5}</string>
			<key>spriteSourceSize</key>
			<string>{175, 165.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 1652}, {165.5, 175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 47.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 47.5}</string>
			<key>spriteSourceSize</key>
			<string>{50, 47.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{58, 2000}, {50, 47.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JousterOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 47.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 47.5}</string>
			<key>spriteSourceSize</key>
			<string>{50, 47.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 2000}, {50, 47.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Lock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{478, 1640}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Logo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {312, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{312, 309}</string>
			<key>spriteSourceSize</key>
			<string>{312, 309}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1328}, {312, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Logo_Pressed</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {312, 309}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{312, 309}</string>
			<key>spriteSourceSize</key>
			<string>{312, 309}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{396, 1328}, {312, 309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 1592}, {56.5, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>closebutton</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 1832}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 1832}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircleFiller</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{478, 1720}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{784, 1212}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hurricane</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 1996}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>openIndicator</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{320, 1532}, {56.5, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>play</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 100}</string>
			<key>spriteSourceSize</key>
			<string>{175, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 1892}, {175, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scoreHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 1832}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>semitouchBorders</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {314.5, 385}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{314.5, 385}</string>
			<key>spriteSourceSize</key>
			<string>{314.5, 385}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{396, 1008}, {385, 314.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spikeWall</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 716}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 716}</string>
			<key>spriteSourceSize</key>
			<string>{49, 716}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 1328}, {49, 716}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teamPlay</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 100}</string>
			<key>spriteSourceSize</key>
			<string>{175, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{184, 1896}, {175, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>timerCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 199.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 199.5}</string>
			<key>spriteSourceSize</key>
			<string>{203, 199.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{784, 1008}, {203, 199.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>touchBordersContainer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {316, 387}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{316, 387}</string>
			<key>spriteSourceSize</key>
			<string>{316, 387}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1008}, {387, 316}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>unlock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 100}</string>
			<key>spriteSourceSize</key>
			<string>{175, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 1896}, {175, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryRay</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1000, 1000}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{1000, 1000}</string>
			<key>spriteSourceSize</key>
			<string>{1000, 1000}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 4}, {1000, 1000}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warning</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{416, 1996}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{764, 1720}, {250, 300}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>windWarningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{764, 1416}, {250, 300}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>JoustF_JoustF.png</string>
	</dict>
</dict>
</plist>
