<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{946, 812}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyInnerGradient</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{868, 890}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 64}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{946, 880}, {65, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>HurricanearningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 578}, {300, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jouster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 165.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{175, 165.5}</string>
			<key>spriteSourceSize</key>
			<string>{175, 165.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{698, 732}, {165.5, 175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 47.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 47.5}</string>
			<key>spriteSourceSize</key>
			<string>{50, 47.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 832}, {47.5, 50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 47.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 47.5}</string>
			<key>spriteSourceSize</key>
			<string>{50, 47.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{784, 966}, {50, 47.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Lock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{946, 732}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Logo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {421.5, 291}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{421.5, 291}</string>
			<key>spriteSourceSize</key>
			<string>{421.5, 291}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 4}, {421.5, 291}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{936, 948}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>closebutton</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{836, 412}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{896, 412}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircleFiller</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{956, 412}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 200}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{822, 208}, {200, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hurricane</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{784, 912}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>openIndicator</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{776, 412}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playGame</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{868, 812}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scoreHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56.5, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{56.5, 56}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{724, 958}, {56, 56.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>semitouchBorders</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {314.5, 385}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{314.5, 385}</string>
			<key>spriteSourceSize</key>
			<string>{314.5, 385}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 300}, {385, 314.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spikeWall</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 716}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 716}</string>
			<key>spriteSourceSize</key>
			<string>{49, 716}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{4, 958}, {716, 49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>teamPlay</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 75}</string>
			<key>spriteSourceSize</key>
			<string>{150, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{698, 324}, {75, 150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timerCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 199.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 199.5}</string>
			<key>spriteSourceSize</key>
			<string>{203, 199.5}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{822, 4}, {203, 199.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>touchBordersContainer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {316, 387}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{316, 387}</string>
			<key>spriteSourceSize</key>
			<string>{316, 387}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 4}, {387, 316}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>unlock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{868, 732}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warning</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{838, 958}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{698, 478}, {300, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>windWarningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 324}, {300, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>JoustF_JoustF.png</string>
	</dict>
</dict>
</plist>
