<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8.5, 7.5}, {48.5, 49}}</string>
			<key>spriteOffset</key>
			<string>{0.25, -0}</string>
			<key>spriteSize</key>
			<string>{48.5, 49}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 430}, {48.5, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyInnerGradient</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8.5, 7.5}, {48.5, 49}}</string>
			<key>spriteOffset</key>
			<string>{0.25, -0}</string>
			<key>spriteSize</key>
			<string>{48.5, 49}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 430}, {48.5, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2.5, 1.5}, {60.5, 61}}</string>
			<key>spriteOffset</key>
			<string>{0.25, -0}</string>
			<key>spriteSize</key>
			<string>{60.5, 61}</string>
			<key>spriteSourceSize</key>
			<string>{65, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 430}, {60.5, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jouster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {158.5, 159}}</string>
			<key>spriteOffset</key>
			<string>{-0.25, 0.25}</string>
			<key>spriteSize</key>
			<string>{158.5, 159}</string>
			<key>spriteSourceSize</key>
			<string>{175, 165.5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 200}, {158.5, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JousterInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6.5, 5}, {37, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.25}</string>
			<key>spriteSize</key>
			<string>{37, 37}</string>
			<key>spriteSourceSize</key>
			<string>{50, 47.5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 430}, {37, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>JousterOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0.5}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.25}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{50, 47.5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 430}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dashedCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2.5}, {50, 50.5}}</string>
			<key>spriteOffset</key>
			<string>{-0.25, 0.25}</string>
			<key>spriteSize</key>
			<string>{50, 50.5}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 430}, {50, 50.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dashedCircleFiller</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2.5}, {50.5, 50.5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0.25}</string>
			<key>spriteSize</key>
			<string>{50.5, 50.5}</string>
			<key>spriteSourceSize</key>
			<string>{56.5, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 430}, {50.5, 50.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>explosion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 20.5}, {157, 157}}</string>
			<key>spriteOffset</key>
			<string>{8.5, 1}</string>
			<key>spriteSize</key>
			<string>{157, 157}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 4}, {157, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spikeWall</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {30.5, 699}}</string>
			<key>spriteOffset</key>
			<string>{-1.25, 2.5}</string>
			<key>spriteSize</key>
			<string>{30.5, 699}</string>
			<key>spriteSourceSize</key>
			<string>{49, 716}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 396}, {699, 30.5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timerCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 3.5}, {191.5, 191}}</string>
			<key>spriteOffset</key>
			<string>{0.25, 0.75}</string>
			<key>spriteSize</key>
			<string>{191.5, 191}</string>
			<key>spriteSourceSize</key>
			<string>{203, 199.5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 4}, {191.5, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>touchBordersContainer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {316, 387}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{316, 387}</string>
			<key>spriteSourceSize</key>
			<string>{316, 387}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {316, 387}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warning</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2.5, 4.5}, {46, 40.5}}</string>
			<key>spriteOffset</key>
			<string>{0.5, 0.25}</string>
			<key>spriteSize</key>
			<string>{46, 40.5}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 430}, {40.5, 46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>JoustF_JoustF.png</string>
	</dict>
</dict>
</plist>
