<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1892, 1624}, {130, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyInnerGradient</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1736, 1780}, {130, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BodyOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 128}</string>
			<key>spriteSourceSize</key>
			<string>{130, 128}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1892, 1760}, {130, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>HurricanearningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 1156}, {600, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Jouster</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 331}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 331}</string>
			<key>spriteSourceSize</key>
			<string>{350, 331}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1396, 1464}, {331, 350}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterInner</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 95}</string>
			<key>spriteSourceSize</key>
			<string>{100, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 1664}, {95, 100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>JousterOuter</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 95}</string>
			<key>spriteSourceSize</key>
			<string>{100, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1568, 1932}, {100, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Lock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1892, 1464}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Logo</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {843, 582}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{843, 582}</string>
			<key>spriteSourceSize</key>
			<string>{843, 582}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 8}, {843, 582}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bomb</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1872, 1896}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>closebutton</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1672, 824}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1792, 824}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dashedCircleFiller</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1912, 824}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>explosion</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 400}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1644, 416}, {400, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hurricane</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1568, 1824}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>openIndicator</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1552, 824}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playGame</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1736, 1624}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scoreHolder</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {113, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 112}</string>
			<key>spriteSourceSize</key>
			<string>{113, 112}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1448, 1916}, {112, 113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>semitouchBorders</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {629, 770}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{629, 770}</string>
			<key>spriteSourceSize</key>
			<string>{629, 770}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 600}, {770, 629}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spikeWall</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 1432}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 1432}</string>
			<key>spriteSourceSize</key>
			<string>{98, 1432}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{8, 1916}, {1432, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>teamPlay</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {300, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 150}</string>
			<key>spriteSourceSize</key>
			<string>{300, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1396, 648}, {150, 300}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>timerCircle</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {406, 399}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{406, 399}</string>
			<key>spriteSourceSize</key>
			<string>{406, 399}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1644, 8}, {406, 399}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>touchBordersContainer</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {632, 774}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{632, 774}</string>
			<key>spriteSourceSize</key>
			<string>{632, 774}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{860, 8}, {774, 632}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>unlock</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1736, 1464}, {150, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warning</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1676, 1916}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>warningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1396, 956}, {600, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>windWarningSigns</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 500}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{600, 500}</string>
			<key>spriteSourceSize</key>
			<string>{600, 500}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 648}, {600, 500}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>JoustF_JoustF-ipadhd.png</string>
	</dict>
</dict>
</plist>
